body {
    z-index: 10;
    height: 240px;
    width: 200px;
    background-image: linear-gradient(#2196F3, #ff8181, #bac742);
    top: 0;
    right: 0px;
    border-radius: 50px;
    color: white;
  }
  
  #tools{
    display: flex;
    flex-direction: column;
  }
  
  #gradientCanvas {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  
  #extTitle {
    text-align: left;
    color: rgb(255, 227, 176);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .sec {
    background-color: white;
    padding: 5px;
    margin: 5px;
    color: rgb(90, 84, 200);
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
  }
  
  main {
    z-index: 100;
    display: block;
    position: absolute;
  }
  
  #visibilityToggle {
    width: 20px;
  }
  
  canvas {
    z-index: 100 !important;
    opacity: 1 !important;
    pointer-events: none;
  }
  
  #timeTracker {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 2000 !important; /* Ensure it's above the canvas */
    display: none; /* Controlled by JavaScript */
    opacity: 1 !important;
    pointer-events: auto; /* Allow interaction */
  }
  
  #screenshot {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2000;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin: 5px;
    pointer-events: auto;
    cursor: pointer;
  }
  
  
  #screenshot:hover{
    background-color: rgba(255, 255, 255, 0.36);
    color: black;
  }
  